


{{>upperNavbar}}


<div>
  welcome back
</div>


<div>

user id
user email
user tokens

</div>

<div trending user videos>
  
    <div>
      user video + like and comment
    </div>
    <div>
      user video + like and comment
    </div>
    <div>
      user video + like and comment
    </div>

</div>

<div recent comments>

<div>
  videoname
  usercomment
</div>
<div>
  videoname
  usercomment
</div>
<div>
  videoname
  usercomment
</div>


</div>

<div drafts flexbox scroll horizontal>

      <div>
        topic
        uservideo
        country
      </div>
      <div>
        topic
        uservideo
        country
      </div>
      <div>
        topic
        uservideo
        country
      </div>
      

</div>

<button> start new project </button>