

<div class="card" style="width: 15rem;" >
  <img src="https://sun1-83.userapi.com/impf/c855416/v855416476/153c45/Fk2XHCnEo20.jpg?size=420x746&quality=96&sign=13f721b9589a42f24b24adb18c869378&type=album" class="card-img-top" width="100px" height="350px">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text"> Moscow</p><hr/>
    <p class="card-text"> MIT</p><hr/>
    <p class="card-text"> University</p><hr/>
    <a href="#" class="btn btn-primary">Home</a><hr/>
    <a href="#" class="btn btn-primary">Notification</a><hr/>
    <a href="#" class="btn btn-primary">Settings</a><hr/>
    <a href="#" class="btn btn-primary">Logout</a>
  </div>
</div>
