


{{>upperNavbar}}


<div>
  Project Start
</div>

<div about new upload>

    <div>
        miniature upload image onclick
    </div>

    <div title>

    text title
    </div>

    <div country>
    country of video origin
    </div>

</div>

<button> Start filming </button>