

<div class="container">
{{>upperNavbar}}


<div>
  Project Start
</div>

<div about new upload>

    <div>
        miniature upload image onclick
    </div>

    <div title>

    text title
    </div>

    <div country>
    country of video origin
    </div>

</div>

<a href="/contributor/home">
<button data-cancel class="btn  btn-primary"> cancel project </button>
</a>


<button data-upload class="btn btn-primary"> Upload new project </button>
</div>