.container{
  width: 340px;
  margin: 0 auto;
}
.header{
  padding: 22px 0;
  /* background-color: green; */
}
.header-logo, .header-img{
  width: 35px;
  height: 35px;
}
.nav{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  /* background-color: green; */

}
.header-button{
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(27, 121, 18);
  outline: none;
  border: none;
}
.menu-button__line {
  width: 16px;
  height: 1px;
  background-color: #333;
}
.program-btn{
  border-radius: 5px;
  padding: 8px 20px;
  background-color: green;
  border: none;
  outline: none;

}
.program-btn__link{
  color: white;
  text-decoration: none;
}
.phase{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item{
  display: block;
}
