



<div wrapper>

    <div video>
    <img src="">
    </div>

    <div videotitle>
    videotitle
    </div>
    <div reactions div>
        <div>
          likes
        </div>
        <div>
          comments
        </div>
        <div>
          shares
        </div>

    </div>

</div>
