<footer class="footer">
  {{!-- <div class="container" style="width: 100%; margin: 0 auto; height: 100px"> --}}
    <div
      class="footer-wrapper"
    
    >
      <a href="" class="footer-link"><img
          src="/images/navbar/home.png" class="footer-icon"
        /></a>
      <a href="" class="footer-link"><img
          src="/images/navbar/leader.png" class="footer-icon"
        /></a>
      <a href="" class="footer-link"><img class="footer-icon"
          src="/images/navbar/achiev.png"
        /></a>
      <a href="" class="footer-link"><img class="footer-icon" src="/images/navbar/program.png" /></a>
    {{!-- </div> --}}
  </div>
</footer>