<footer class="footer">
  <div class="container" style="width: 100%; margin: 0 auto; height: 100px">
    <div
      class="footer-wrapper d-flex align-items-center justify-content-between"
      style="height: 100px;"
    >
      <a href="" class="footer-link">Home</a>
      <a href="" class="footer-link">Network</a>
      <a href="" class="footer-link">Program</a>
      <a href="" class="footer-link">Test</a>
    </div>
  </div>
</footer>