<footer class="footer">
  <div class="container" style="width: 100%; margin: 0 auto; height: 100px">
    <div
      class="footer-wrapper d-flex align-items-center justify-content-between"
      style="height: 100px;"
    >
      <a href="" class="footer-link"><img
          src="/images/navbar/home.png"
        /></a>
      <a href="" class="footer-link"><img
          src="/images/navbar/leader.png"
        /></a>
      <a href="" class="footer-link"><img
          src="/images/navbar/achiev.png"
        /></a>
      <a href="" class="footer-link"><img src="/images/navbar/program.png" /></a>
    </div>
  </div>
</footer>