<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <a href="" class="footer-link">Home</a>
      <a href="" class="footer-link">Network</a>
      <a href="" class="footer-link">Programm</a>
      <a href="" class="footer-link">Test</a>
    </div>
  </div>
</footer>
