{{! <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  </div>
</nav> }}
<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="nav">
        {{! <a class="nav-link" href="/auth">Vexa</a> }}
        <a href="/{{user.userType}}/profile">
          <img src="/images/userpics/userpic.jpg" alt="" class="header-logo" />
        </a>
        <button class="header-button">
          VEXA
        </button>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrbe7g4uLH3ZKppidfSHbYq39CEtuBoNqpcV5SpP_eaMWvVqEbHSieT32LjOjD5tiR4FQ&usqp=CAU"
          alt=""
          class="header-img"
        />
      </nav>

    </div>

  </div>
</header>