<nav style="width: 340;" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/auth">Vexa</a>
    <button class="header-button">
      VEXA
    </button>
    <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
