 <script defer src="/js/studentHome.js"></script>

{{> upperNavbar}}

<div data-picture class="card" style="width: 18rem;">
<a href="/student/program">
  <img src="https://krasivosti.pro/uploads/posts/2021-04/1617893288_12-p-dva-milikh-kotika-14.jpg" class="card-img-top"  alt="">
</a>
{{>lowerNavbar}}
</div>

