 <script defer src="/js/studentHome.js"></script>

{{> upperNavbar}}

<div class="container">
<div data-picture class="card" style="width: 100%;">
<a href="/student/program/{{courseId}}">
  <img src="{{flagUrl}}" class="card-img-top" alt="" style="width: 100%; height: 200px">

</a>
<div class="lower-body" style="height: 300px; width: 100%; border: solid; 10px; black;">

block
</div>

<div class="lower-body" style="height: 300px; width: 100%; border: solid; 10px; black;">

block
</div>

<div class="lower-body" style="height: 300px; width: 100%; border: solid; 10px; black;">

block




</div>

{{>footer}}
