 <script defer src="/js/studentHome.js"></script>

{{> upperNavbar}}

<div data-picture class="card" style="width: 18rem;">
<a href="/student/program">
  <img src="https://lh3.googleusercontent.com/proxy/z0WH5UbGS9xcRhhDuNkvPe73BwuxuSNRmXr7YgcGYrlxiYfPdTjJRIw6Jv4AomWKRzkxB5AMCPVtdXUmFC3KW-gUK-Ap1CzppfGpYLJu" class="card-img-top" alt="">

</a>
{{>lowerNavbar}}
</div>

