{{!-- {{{hbs partials}}} --}}
<div class="container">

  {{>upperNavbar}}

  <script defer src="/js/programStudent.js"></script>

  {{!-- <div class="button-wrapper">
    <a href="#bottom" class="button-linl">
      <button>GCI badge</button>
    </a>
    <a href="#bottom" class="button-linl">
      <button>
        Culture videos
      </button>
    </a>
  </div> --}}
  <div>

    <div style="display: flex;   align-items: center; 
  justify-content: space-evenly;" {{!-- buttons on flag --}}>
      <button class="program-btn"><a class="program-btn__link" href="#bottom"> GCI badge </a>
      </button>

      <button class="program-btn"><a class="program-btn__link" href="#bottom"> Culture videos </a>
      </button>
    </div {{!-- buttons on flag --}}>

  </div>

  <div {{! phases and weeks}}>
    <div class="phase">
      <p>phase1</p>
      <p>phase2 </p>
      <p>phase3</p>
    </div>

    <div name="weekChanger" class="d-flex">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a data-prev-week id="prev-week" class="page-link"> ◀ </a>
          </li>
          {{! <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li> }}
          <li class="page-item">
            <a data-next-week id="next-week" class="page-link"> ▶ </a>
          </li>
        </ul>
      </nav>
    </div>
    <div plain text plus videos about company>
      <div id="week">
        <h5>
          Weekly goals</h5>
        <p data-goals> test text area </p>
      </div>
      <div>
        <h5>
          Addititional notes</h5>
        <p data-notes> test text area 2 </p>
      </div>
      <div>
        <h5> Scheduled events</h5>
      </div>
      <div>
        <img data-video src="https://sib.fm/storage/article/March2021/IDsV2DD5Qhwj5kWTpfYG.jpeg" width="50" height="50">
      </div>
    </div>
  </div {{! phases and weeks}}>


  <div {{! fixed part on bottom}}>
    <div>
      <h5>Global business intelligence badge</h5>
      <div> <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Windows_Settings_app_icon.png/1024px-Windows_Settings_app_icon.png"
          width="50" height="50"> </div>
      <div>
        <h5> My culture videos </h5>

      </div>
    </div>




    fixed same part
    GLOBAL GCI

    CULTURE VIDEOS


  </div {{! fixed part on bottom}}>







  {{>footer}}

</div>

</div>
